.navbar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
  }
  
  #menu {
    display: none;
  }
  
  #menu.active {
    display: block;
  }
  